@import "tailwindcss";

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans), sans-serif, Arial, Helvetica, sans-serif;
}

ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;   
}

button {
  transition: all 0.3s ease-in-out;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


